body {
  background-color: #ccc;
}

.card-lists {
  overflow-x: auto;
}

.panel:not(:last-child) {
  margin-bottom: 0px;
}

.box {
  border: 1px solid grey;
}

#addCardModal input[type='color'] {
  width: 100%;
}

.box input[type='color'] {
  width: 100%;
}
